# Keep thumbnail and log files out of repository
Thumbs.db
*.log
Resources/RESTAPI/MySecondApp/.DS_Store
Resources/ServerAuthoring/JobChaining/.DS_Store
.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/Simple/.DS_Store
*.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/Simple/.DS_Store
