# Keep thumbnail and log files out of repository
Thumbs.db
*.log
Resources/RESTAPI/MySecondApp/.DS_Store
Resources/ServerAuthoring/JobChaining/.DS_Store
.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/Simple/.DS_Store
*.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/.DS_Store
Resources/EsriUN/Simple/.DS_Store
Resources/.DS_Store
Workspaces/IntegrateYourDataWithTheFMEPlatform/document-your-workspace.fmw.recover
Workspaces/IntegrateYourDataWithTheFMEPlatform/wb-xlate-1594650920456_9804
*.recover
Workspaces/.DS_Store
.DS_Store
Resources/.DS_Store
Workspaces/.DS_Store
Workspaces/.DS_Store
**/.DS_Store
Resources/.DS_Store
Resources/EsriUN/.DS_Store
Workspaces/.DS_Store
Resources/.DS_Store
Resources/.DS_Store
Resources/FMEAccelerator/.FoodVendors-Start 2.fmw.icloud
*.icloud
Resources/.DS_Store
